<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device, initial-scale=1.0" name="viewport"/>
  <title>
   OSD Documentation
  </title>
  <link href="../../../static/documentation_page/style.css" rel="stylesheet"/>
 </head>
 <body>
  <header>
   <div class="logo-container">
    <img alt="OSD Logo" src="../../../static/home_page/icons/osd-icon.jpeg"/>
   </div>
   <h1>
    OSD Documentation
   </h1>
   <nav>
    <ul>
     <li>
      <a href="/home">
       Home
      </a>
     </li>
     <li>
      <a href="/database">
       Database
      </a>
     </li>
     <li>
      <a href="/api">
       API
      </a>
     </li>
     <li>
      <a href="#docs" id="nav-docs">
       Documentation
      </a>
     </li>
     <li>
      <a href="#support">
       Support
      </a>
     </li>
    </ul>
   </nav>
  </header>
  <main>
   <section id="intro">
    <h2>
     Introduction
    </h2>
    <p>
     Welcome to the official documentation for the OSD project. Here you'll find detailed information about our database, API usage, and how to contribute to the project.
    </p>
   </section>
   <section id="docs">
    <h2>
     Documentation
    </h2>
    <div class="doc-section">
     <h3>
      Getting Started
     </h3>
     <p>
      This guide will help you quickly start using OSD, including setting up your environment and using the API.
     </p>
     <a class="btn" href="/docs/getting-started">
      Read More
     </a>
    </div>
    <div class="doc-section">
     <h3>
      API Reference
     </h3>
     <p>
      Explore our comprehensive API documentation to effectively integrate OSD into your applications.
     </p>
     <a class="btn" href="/docs/api-reference">
      Explore API
     </a>
    </div>
    <div class="doc-section">
     <h3>
      Contributing
     </h3>
     <p>
      Learn how you can contribute to the OSD project, from submitting data to improving our tools.
     </p>
     <a class="btn" href="/contributing">
      Contact Support
     </a>
    </div>
   </section>
   <section id="support">
    <h2>
     Need Help?
    </h2>
    <p>
     If you have any questions or need assistance, please reach out to our support team or join our community on Discord.
    </p>
    <a class="btn" href="/support">
     Contact Support
    </a>
   </section>
  </main>
  <footer id="contact">
   <p class="text-container">
    © 2024 OSD Project
   </p>
   <ul class="horizontal-list">
    <li>
     <a href="https://github.com/Peggun/osd">
      <img alt="GitHub" class="image-container" src="../../../static/home_page/icons/github-mark-white.png"/>
     </a>
    </li>
    <li>
     <a href="https://discord.gg/wYYj32TuQW">
      <img alt="Discord" class="image-container" src="../../../static/home_page/icons/discord-mark-white.png"/>
     </a>
    </li>
    <li>
     <a href="#contact">
      Contact
     </a>
    </li>
   </ul>
  </footer>
 </body>
</html>
