<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Database Search
  </title>
  <link href="../../../static/database_page/style.css" rel="stylesheet"/>
  <script src="/static/scripts/database_page/search.js">
  </script>
 </head>
 <body>
  <header>
   <div class="logo-container">
    <img alt="OSD Logo" src="../../../static/home_page/icons/osd-icon.jpeg"/>
   </div>
   <h1>
    OSD Database
   </h1>
   <nav>
    <ul>
     <li>
      <a href="/home">
       Home
      </a>
     </li>
     <li>
      <a href="/docs/getting-started">
       Getting Started
      </a>
     </li>
     <li>
      <a href="/api">
       API
      </a>
     </li>
     <li>
      <a href="/contributing">
       Contributing
      </a>
     </li>
     <li>
      <a href="/community">
       Community
      </a>
     </li>
    </ul>
   </nav>
  </header>
  <main>
   <section class="content">
    <h1>
     Database Search
    </h1>
    <input id="search-bar" placeholder="Search..." type="text"/>
    <div class="results-container" id="results">
    </div>
   </section>
  </main>
  <footer id="contact">
   <p class="text-container">
    © 2024 OSD Project
   </p>
   <ul class="horizontal-list">
    <li>
     <a href="https://github.com/Peggun/osd">
      <img alt="GitHub" class="image-container" src="../../../static/home_page/icons/github-mark-white.png"/>
     </a>
    </li>
    <li>
     <a href="https://discord.gg/wYYj32TuQW">
      <img alt="Discord" class="image-container" src="../../../static/home_page/icons/discord-mark-white.png"/>
     </a>
    </li>
    <li>
     <a href="#contact">
      Contact
     </a>
    </li>
   </ul>
  </footer>
 </body>
</html>
