<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   OSD Community
  </title>
  <link href="../../../static/community_page/style.css" rel="stylesheet"/>
 </head>
 <body>
  <header>
   <div class="logo-container">
    <img alt="OSD Logo" src="../../../static/home_page/icons/osd-icon.jpeg"/>
   </div>
   <h1>
    OSD Community
   </h1>
   <nav>
    <ul>
     <li>
      <a href="/home">
       Home
      </a>
     </li>
     <li>
      <a href="/docs/getting-started">
       Getting Started
      </a>
     </li>
     <li>
      <a href="/docs/api-reference">
       API Reference
      </a>
     </li>
    </ul>
   </nav>
  </header>
  <main>
   <section class="content">
    <h1>
     Join the OSD Community
    </h1>
    <p>
     The OSD Community is a vibrant group of developers, designers, and enthusiasts working together to build open-source projects. Join us to collaborate, learn, and grow together.
    </p>
   </section>
   <section class="content">
    <h2>
     OSD-Community Discord
    </h2>
    <p>
     Join our active discord group to get help, request changes and much more!
    </p>
    <a class="btn" href="https://discord.gg/wYYj32TuQW">
     Join Us on Discord
    </a>
   </section>
   <section class="content">
    <h2>
     OSD GitHub
    </h2>
    <p>
     If you made any changes and think that it is for the best for our app, please contribute to our GitHub repository
    </p>
    <a class="btn" href="https://github.com/Peggun/osd">
     Contribute on GitHub
    </a>
   </section>
  </main>
  <footer id="contact">
   <p class="text-container">
    © 2024 OSD Project
   </p>
   <ul class="horizontal-list">
    <li>
     <a href="https://github.com/Peggun/osd">
      <img alt="GitHub" class="image-container" src="../../../static/home_page/icons/github-mark-white.png"/>
     </a>
    </li>
    <li>
     <a href="https://discord.gg/wYYj32TuQW">
      <img alt="Discord" class="image-container" src="../../../static/home_page/icons/discord-mark-white.png"/>
     </a>
    </li>
    <li>
     <a href="#contact">
      Contact
     </a>
    </li>
   </ul>
  </footer>
 </body>
</html>
