<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   OSD - Open Source Data
  </title>
  <link href="../../../static/home_page/style.css" rel="stylesheet"/>
 </head>
 <body>
  <header>
   <div class="logo-container">
    <img alt="OSD Logo" src="../../../static/home_page/icons/osd-icon.jpeg"/>
   </div>
   <h1>
    OSD
   </h1>
   <div id="buttons">
    <nav>
     <ul>
      <li>
       <a href="/database" id="nav-database">
        Database
       </a>
      </li>
      <li>
       <a href="#features" id="nav-features">
        Features
       </a>
      </li>
      <li>
       <a href="/documentation" id="nav-documentation">
        Documentation
       </a>
      </li>
      <li>
       <a href="/community" id="nav-community">
        Community
       </a>
      </li>
      <li>
       <a href="#news" id="nav-news">
        News
       </a>
      </li>
      <li>
       <a href="#contact" id="nav-contact">
        Contact
       </a>
      </li>
      <li>
       <a href="/api" id="nav-api">
        API
       </a>
      </li>
     </ul>
    </nav>
   </div>
  </header>
  <main>
   <section id="hero">
    <h2>
     Welcome to OSD
    </h2>
    <p>
     Your go-to resource for open-source data. Explore plenty of different data types and datasets to suit your need. Can't find what your looking for, please request it to our Discord where our team will try our best to add your data.
    </p>
    {% if show_get_started %}
    <div>
     <button class="btn" id="get-started-button">
      Get Started
     </button>
    </div>
    {% endif %}
   </section>
   <section id="features">
    <h2>
     Key Features
    </h2>
    <div class="feature">
     <h3>
      API
     </h3>
     <p>
      Use the offical API of osd to pull any type of data! However, you will need to sign up for an api key to use for pulling data, but thats easy to do.
     </p>
    </div>
    <div class="feature">
     <h3>
      A BIG database
     </h3>
     <p>
      The osd database is full of data from contributors and suggestions from our discord. You too could request to add some data, or add it yourself through contributing to our project!
     </p>
    </div>
   </section>
   <section id="news">
    <h2>
     Recent Updates
    </h2>
    <p>
     Stay updated with the latest news and releases of the OSD Database, OSD API, and pyhtmlify.
    </p>
    <div>
     <h3>
      Website development is a go!
     </h3>
     <p>
      Development of the osd website has offically started! The website will go up and running with the first stable release. (Which is hopefully soon!)
     </p>
    </div>
    <div>
     <h3>
      Pyhtmlify Pre-Release 0.1.7a1
     </h3>
     <p>
      pyhtmlify 0.1.7a1 just got released! It features new improvements to the code side of things, and bug fixes, along with more tag support.
     </p>
    </div>
   </section>
  </main>
  <footer id="contact">
   <p class="text-container">
    © 2024 OSD Project
   </p>
   <ul class="horizontal-list">
    <li>
     <a href="https://github.com/Peggun/osd">
      <img alt="GitHub" class="image-container" src="../../../static/home_page/icons/github-mark-white.png"/>
     </a>
    </li>
    <li>
     <a href="https://discord.gg/wYYj32TuQW">
      <img alt="Discord" class="image-container" src="../../../static/home_page/icons/discord-mark-white.png"/>
     </a>
    </li>
    <li>
     <a href="#contact">
      Contact
     </a>
    </li>
   </ul>
  </footer>
  <script src="/static/scripts/home_page/get_started.js">
  </script>
  <div class="overlay">
  </div>
 </body>
</html>
