<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   OSD - Open Source Data
  </title>
  <link href="../../../static/home_page/style.css" rel="stylesheet"/>
 </head>
 <body>
  <header>
   <div class="logo-container">
    <img alt="OSD Logo" src="../../../static/home_page/icons/osd-icon.jpeg"/>
   </div>
   <h1>
    OSD
   </h1>
   <nav>
    <ul>
     <li>
      <a href="#database">
       Database
      </a>
     </li>
     <li>
      <a href="#features">
       Features
      </a>
     </li>
     <li>
      <a href="#documentation">
       Documentation
      </a>
     </li>
     <li>
      <a href="#community">
       Community
      </a>
     </li>
     <li>
      <a href="#news">
       News
      </a>
     </li>
     <li>
      <a href="#contact">
       Contact
      </a>
     </li>
    </ul>
   </nav>
  </header>
  <main>
   <section id="hero">
    <h2>
     Welcome to OSD
    </h2>
    <p>
     Your go-to resource for open-source data.
    </p>
    <a class="btn" href="#get-started">
     Get Started
    </a>
   </section>
   <section id="features">
    <h2>
     Key Features
    </h2>
    <div class="feature">
     <h3>
      Feature 1
     </h3>
     <p>
      Description here.
     </p>
    </div>
    <div class="feature">
     <h3>
      Feature 2
     </h3>
     <p>
      Description here.
     </p>
    </div>
   </section>
   <section id="news">
    <h2>
     Recent Updates
    </h2>
    <p>
     Stay updated with the latest news and releases
    </p>
   </section>
  </main>
  <footer>
   <p class="text-container">
    © 2024 OSD Project
   </p>
   <ul class="horizontal-list">
    <li>
     <a href="https://github.com/Peggun/osd">
      <img alt="GitHub" class="image-container" src="../../../static/home_page/icons/github-mark-white.png"/>
     </a>
    </li>
    <li>
     <a href="https://discord.gg/wYYj32TuQW">
      <img alt="Discord" class="image-container" src="../../../static/home_page/icons/discord-mark-white.png"/>
     </a>
    </li>
    <li>
     <a href="#contact">
      Contact
     </a>
    </li>
   </ul>
  </footer>
 </body>
</html>
